# Core application settings
LOG_LEVEL=INFO

# API credentials
MP_API_KEY=XUeUgCvUXp6u3YnCHp6VfpwfmJpFW4uo
BRENDA_EMAIL=akshithabenoorkar@gmail.com
BRENDA_PASSWORD=Achu@1112
S2_API_KEY=your_semantic_scholar_api_key_optional

# Local data paths
OCP_DATA_DIR=./data
CACHE_DB_PATH=./query_cache.sqlite

# SQLAlchemy database URL
# Example sqlite: sqlite:///catalystiq.db
DATABASE_URL=sqlite:///catalystiq.db
